{% extends "index.html" %}
{% block title %}
<title>About-Lucius Li</title>
{% endblock %}
{% block site-heading %}
    <header class="intro-header" style="background-image: url('/static/img/about_me.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>About</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">Hey,this is me</span>
                </div>
            </div>
        </div>
    </div>
    </header>
{% endblock %}

{% block body %}
    <div class="zh post-container">
    <p>
        Hey，我是<strong>Lucius Li</strong>，毕业于华中农业大学微生物学专业，硕士期间研究方向为生物传感器，现在是一名生物信息分析工程师。涉猎领域包括生物信息分析，web开发，高通量测序及基因检测，免疫诊断，纳米材料及生物功能材料的合成与应用，分子生物学，摄影，吉他及流行唱法。兴趣爱好广泛，喜欢折腾。
    </p>

    <h5>参与项目</h5>
        <ul>
            <li>
                负责公司肿瘤体细胞突变生物信息分析流程的搭建
            </li>
        </ul>
        <ul>
            <li>
                负责公司微信公众平台用户基因检测报告系统的开发
            </li>
        </ul>
        <ul>
            <li>
                参与运动潜能相关新位点挖掘的关联分析研发项目
            </li>
        </ul>


        <h5>发表论文</h5>
        <ul>
            <li>
                <a href="https://www.sciencedirect.com/science/article/pii/S0925400517312868">Miaomiao Xia<sup>1</sup>, <strong>Zheng Li<sup>1</sup></strong>, Yingyu Chen, Li Yang, Aizheng Guo, Huanchun Chen, Chen Tan and Yonggang Hu.Protein self-assembly via Zr<sup>4+</sup> ions on spore-based microspheres for
immunoassays.Sensors and Actuators B: Chemical,2018,254:166–176</a> (IF:5.401,并列一作)
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.sciencedirect.com/science/article/pii/S0039914015305464?via%3Dihub">Xingya Zhang, <strong>Zheng Li</strong>, Qian Zhou, Zhiming Zeng, Yonggang Hu. A quantum dot-spore nanocomposite pH sensor. Talanta. 2015, 150:184-189.</a> (IF:3.545, 第二作者)
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.sciencedirect.com/science/article/pii/S0956566315001335?via%3Dihub">Zhiming Zeng<sup>1</sup>, Longjian Tian<sup>1</sup>, <strong>Zheng Li</strong>, Lina Jia, Xinya Zhang, Miaomiao Xia, Yonggang Hu. Whole-cell method for phenol detection based on the color reaction of phenol with 4-aminoantipyrine catalcyzed by CotA laccase on endospore surfaces. Biosensors and Bioelectronics. 2015, 69(15):162-166.</a> (IF:6.409, 第二作者)
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.sciencedirect.com/science/article/pii/S0956566315302591?via%3Dihub">Xinya Zhang<sup>1</sup>, Qian Zhou<sup>1</sup>, Zhongfeng Shen<sup>1</sup>, <strong>Zheng Li</strong>, Ruihua Fei, Eoon Hye Ji, Shen Hu, Yonggang Hu. Quantum dot incorporated Bacillus spore as nanosensor for viral infection. Biosensors and Bioelectronics.2015, 74(15):575-580.</a> (IF:6.409, 第二作者)
            </li>
        </ul>
        <ul>
            <li>
                <a href="">Fang Li, <strong>Zheng Li</strong>, Chang Zeng, Yonggang Hu. Biosythesis of Gold NanopAmplex Redticles Assisted by Laccase and Its Heterogeneous Catalysis in Degradation of 4-nitrophenol. Journal of nanoscience and nanotechnology. 2016</a> (IF:1.556, 第二作者)
            </li>
        </ul>

        <h5>个人微信号</h5>
        <p>
            <img src="/static/img/wechat.png" style="height: 140px;" alt="Lucius的微信号">
        </p>
    </div>
{% endblock %}
